<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cerulean/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <script src="https://use.fontawesome.com/e344ad35b2.js"></script>
    <style type="text/css">
        .space {
            margin-top: 10px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Boğaziçi Mevzuat Denetim ve Danışmanlık A.Ş</a>
</nav>
<div class="container">
    <div class="column">
        <div class="col-md-6">
            <br/>
            <h3>SGK EBildirge Giriş Bilgileri</h3>
            <br/>
            <form id="user-additional-info-save-form" class="form-horizontal" th:action="@{/user/merchant/add}" method="post" th:object="${merchant}">
                <div class="form-group row">
                    <!--<label class="control-label col-md-5 required">Kullanıcı Adı</label>-->
                    <input type="text" th:field="*{sgkUserName}" class="form-control col-md-8 required" placeholder="Kullanıcı Adı"/>
                    <input type="text" th:field="*{sgkUserNameAdd}" class="form-control col-md-4 required" placeholder="Ek"/>
                </div>
                <div class="form-group row">
                    <!--<label class="control-label col-md-5 required">Sistem şifresi</label>-->
                    <input id="sgkPassword" type="text" th:field="*{sgkPassword}" class="form-control col-md-12 required" placeholder="Sistem Şifresi"/>
                </div>
                <div class="form-group row">
                    <!--<label class="control-label col-md-5 required">İşyeri şifresi</label>-->
                    <input id="sgkMerchantPassword" type="text" th:field="*{sgkMerchantPassword}" class="form-control col-md-12 required" placeholder="İşyeri Şifresi"/>
                </div>
                <div class="form-check form-check-inline">
                    <input id="allowPasswordSave" class="form-check-input" type="checkbox"/>
                    <label class="form-check-labe">SGK şifrelerimin hesaplama tamamlanana kadar sistemde saklanmasına ve bu şifreler ile
                        SKG sisteminde yer alan bilgilerime erişilmesine onay veriyorum</label>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary col-md-12">İşletme Ekle</button>
                </div>
                <input class="control-label" type="hidden" th:field="*{userId}"/>
            </form>
        </div>
        <div class="col-md-12">
            <br/>
            <h5>Hesaplama Yapılacak İşletmeler</h5>
            <div class="row">
                <div class="table-responsive col-md-12">
                    <table id="merchants-table" class="table table-bordred table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>İşletme No</th>
                            <th>İşletme Sahibi</th>
                            <th>İşletme Adı</th>
                            <th>Hesaplama Durumu</th>
                            <th>Sil</th>
                        </tr>
                        </thead>
                        <tbody id="merchant-list">
                        <tr>
                            <td colspan="3">
                                <div class="alert alert-info">
                                    <i class="fa fa-spinner fa-spin"></i> Listeleniyor...
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button id="start-calculate-button" type="submit" class="btn btn-primary col-md-3 float-md-right">Hesaplamaya Başla</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script src="/js/additional-info.js"></script>

<script type="text/html" id="merchant-list-template">
    {{#.}}
    <tr>
        <td>{{id}}</td>
        <td>{{sgkRegistryNoKey}}</td>
        <td>{{owner}}</td>
        <td>{{sgkTitle}}</td>
        <td>{{calculationStatus}}</td>
        <td>
            <button title="" type="button" class="btn btn-danger btn-xs remove">
                <i class="fa fa-trash-o fa-xs"></i>
            </button>
        </td>
    </tr>
    {{/.}}
    {{^.}}
    <tr>
        <div class="alert alert-info">İşletme Bulunamadı</div>
    </tr>
    {{/.}}
</script>
</body>
</html>