<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<label th:text="'Sayın '+*{firstName}+' '+*{lastName}+','"></label>
<br/>
<p>Email adresiniz onaylandı.</p>
<p>Teşvik hesabı yapılacak işletme bilgilerini düzenlemek için aşağıdaki linki kullanabilirsiniz.</p>
<br/>
<a th:href="*{addMerchantLink}">Teşvik Hesaplama İşlemleri</a>
</body>
</html>