<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<label th:text="'Sayın '+*{firstName}+' '+*{lastName}+','"></label>
<br/>
<label>SGK Teşvik hesaplama işlemine devam edebilmek için lütfen aşağıdaki email onay linkine tıklayınız.</label>
<br/>
<a th:href="*{approvalLink}">Email adresimi onayla</a>
</body>
</html>