<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cerulean/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <script src="https://use.fontawesome.com/e344ad35b2.js"></script>
    <style type="text/css">
        .space {
            margin-top: 10px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Boğaziçi Mevzuat Denetim ve Danışmanlık A.Ş</a>
</nav>
<div class="container">
    <div class="row"/>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <form id="user-save-result-form" class="form-horizontal" th:action="@{/user/additional-info}" method="get" th:object="${user}">
                <label class="control-label" th:text="'Sayın '+*{firstName}+' '+*{lastName}+','"></label>
                <br/>
                <label th:text="*{email} +' email adresiniz onaylanmıştır.'"></label>
                <br/>
                <button type="submit" class="btn btn-primary">Teşvik hesaplama işlemine devam et</button>
                <input type="hidden" th:field="*{id}"/>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
</html>