<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<label th:text="'Sayın '+*{firstName}+' '+*{lastName}+','"></label>
<br/>
<label
        th:text="'Aşağıda yer alan işletmeler için hesaplama işlemi başlamıştır. Sistem yoğunluğuna bağlı olarak tahmini 4 saat içerisinde hesaplama sonuçları her bir işletme için ayrı ayrı ' +*{email}+' email adresinize iletilecektir.'"/>
<p> 3 gün içerisinde sizden bir dönüş alamadığımız takdirde tüm bilgileriniz sistemimizden silinecektir</p>
<br/>

<table>
    <thead>
    <tr>
        <th align="left">İşletme Adı</th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first">
    <tr th:each="merchant : *{merchants}">
        <td th:text="${merchant}"/>
    </tr>
    </tbody>
</table>
</body>
</html>